
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<input class="form-control" id="myInput" type="text" placeholder="Search..">
<table class=" table table-hover">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Name
            </th>
            <th>
                Bed
            </th>
        </tr>
    </thead>
    @foreach (var item in ViewBag.Categories)
    {
        <tbody id="myTable">
            <tr>
                <td>
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { onclick = $"return confirm('Are you sure you wish to delete this category ({item.CategoryName}) ?');", @class = "bi bi-trash" })
                </td>
                <td>
                    @Html.Encode(item.CategoryName)
                </td>
                <td>
                    @Html.Encode(item.Bed)
                </td>
            </tr>
        </tbody>
    }
</table>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Add category
</button>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add customer</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("Add","Category")">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="CategoryName">Name</label>
                            <input type="text" class="form-control" name="CategoryName" id="inputCategoryName" placeholder="Category name" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="Bed">Bed</label>
                            <input type="text" class="form-control" name="Bed" id="inputBed" placeholder="Bed" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary col-md-offset-10">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>